@import "./styles/palette";

body {
  background-color: $background;

  .App {
    text-align: center;
    min-height: 100vh;

    @import "./styles/components/formPreview";
    @import "./styles/components/formEditor";
  }
}
